

*{
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    /* Asegura que no haya errores en navegadores */
} 

body {
    margin: 0;
    min-height: 100vh;
    background-color: aliceblue;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}